.container{
    width: 90%;
    margin: auto auto;
    margin-top: 15%;
    background-color: #fafafa;
    box-shadow: #19000000;
}
.dnav{
    position: fixed;
    top: 8%;
    left: 8%;
    width: 80%;
    z-index: 2;
}
.dnavbar{
    padding-top: 10px;
    width: 100%;
}
.homeimg{
    width: 150px;
    height: auto;
    margin-right: 10px;
}
.menitem{
    float: right;
    width: 70px;
}
.menitem img{
    width: 25px;
    height: auto;
    padding-top: 5px;
    cursor: pointer;
}
.feedcont, .newscont{
    width: 50%;
    float: left;
}

@media(min-width: 600px){
    .hestia-logo{
        padding-top: 0px;
        max-width: 400px;
        height: auto;
    }
    .ant-input{
        max-width: 500px;
    }
    .addReq{
        left: 27%;
    }
    .imgback{
    }
}