#root{
    background-color: #fafafa;
}
.App{
    width: 100vw;
    height: auto;
    text-align: left;
    background-color: #fafafa;
}


.eqimargin{
    margin-top: 25%;
}

/* Home page css */

.hestia-logo{
padding-top: 30vw;
margin-left: 12.5%;
}
.hestia-logo img{
    width: 70%;
    height: auto;
}
.home-but{
    margin: auto auto;
    margin-top: 10vh;
}
.home-but a{
    display: block;
    width: 100%;
    margin-bottom: 3vh;
}
.home-but a button{
    width: 30vw;
    height: 5vh;
    background-color: #00d2d2;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}


/* Main page cdd */
.ant-tabs-bar, .ant-tabs-nav-container, .ant-tabs-nav-wrap, .ant-tabs-nav-scroll, .ant-tabs-nav, .ant-tabs-nav > div{
    width: 100%;
}
.ant-tabs-tab{
    width: 40%;
}

.ant-tabs-bottom .ant-tabs-bottom-bar .ant-tabs-ink-bar{
    display: none !important;
}


/* login page css */
.loginpage{
    margin-top: 25%;
}
.login-form{
    margin-top: 60px;
    text-align: center;
}
.ant-input{
    width: 75%;
    border: 2px solid #00d2d2;
    border-radius: 6px;
    height: 60px;
}   
.login-form-button, .ant-btn-primary{
    width: 30vw;
    height: 5vh;
    background-color: #00d2d2;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 20px;
    box-shadow: 0px 0px 4px lightgray;
}
.oauth{
    width: 30vw;
    height: 5vh;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0px 0px 4px lightgray;
}
.oauth img{
    width: 20px;
    height: auto;
    padding-left: 4px;
    padding-bottom: 4px;
}

/* reg page css */

.hestia-logo-reg{
margin-left: 12.5%;
}
.hestia-logo-reg img{
    width: 70%;
    height: auto;
}
.already{
    color: #00d2d2;
}

/* Nav css */
.ant-menu{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 65px;
    box-shadow: 0px -2px 8px lightgray;
    background-color: white;
    opacity: 1;
    width: 100%;
}
.ant-menu-item{
    border-bottom: none !important;
    width: 50%;
    height: 100%;
    text-align: center;
}
.ant-menu-item a{
    position: relative;
    top: 18%;
}
.ant-menu-horizontal > .ant-menu-item > a:hover{
    color: #00d2d2;
}
.ant-menu-horizontal > .ant-menu-item-selected > a{
    color: #00d2d2;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
    background-color: #00d2d2;
}

.addReq{
    background-color: #00d2d2;
    position: fixed;
    bottom: 95px;
    left: 48%;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}
.addReq img{
    padding-top: 10px;
}
/* Main content css */
.main-title{
    width: 80%;
    margin: auto auto;
    margin-top: 98px;
    margin-bottom: 40px;
}

.main-title h1{
    font-size: 32px;
    letter-spacing: 1.14px;
    font-weight: 900;
}
.ant-card{
    width: 80%;
    margin: auto auto;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px lightgray;
}
.ant-card-body{
    padding: 20px
}
.imgback{
    background-color: #00d2d2;
    border: none;
    border-radius: 14px;
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    margin-top: 7px;
}
.imgback img{
    padding-top: 4px;
}
.iconz{
    float: right;
}
.main-content{
    margin-bottom: 150px;
    text-align: center;
}
.feed-card-header{
    width: 100%;
}
.feed-card-header span {
    width: 60%;
    float: left;
    text-align: left;
}
.feed-card-header p{
    width: 40%;
    float: left;
    text-align: left;
    margin: 0px;
}
.feed-card-date p{
    float: left;
    margin: 0px;
}

.ant-tabs-tabpane{
    background-color: #fafafa;
}

/* news tab css */

.news-card-header{
    width: 100%;
}
.news-card-header span {
    width: 40%;
    float: left;
    text-align: left;
    font-size: 14px;
    color: #141414;
    letter-spacing: 0.5px;
}
.news-card-header p{
    width: 60%;
    float: left;
    text-align: left;
    margin: 0px;
    font-weight: bold;
}
.news-card-content p{
    float: left;
    margin: 0px;
    text-align: left;
    color: #989898;
}
.news-bottom-select p{
    float: left;
    margin: 0px;
}
.news-bottom-select a{
    float: right;
    color: #00d2d2;
}
.news-bottom-select{
    margin-top: 5px;
}
.prof-card-title{
    text-align: left;
}

/* my Requests css */
.myreqs .imgback{
    background-color: #d95071;
}



/* my chats css */
.ant-radio-group{
    margin-bottom: 20px;
    margin-left: 10%;
}
.ant-radio-button-wrapper{
    border-radius: 6px !important;
    font-weight: bold;
}
.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border: none;
}
.ant-radio-button-wrapper-checked{
    background: #00d2d2;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    background: #00d2d2;
    border: none;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background: #00d2d2;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background: #00d2d2;
}